<div class="container margin-vertical-2">
  <div class="jumbotron elevate-1">
    <h1 class="display-3">Welcome to Chat, {{userDetails.userName}}!</h1>
    <p class="lead">The best chat application in the whole internet!</p>
    <hr>
    <p>Please respect each other in the chat!</p>
    <button class="btn btn-danger action-button" (click)="logout()">Logout</button>
    <button class="btn btn-primary action-button" data-toggle="modal" data-target="#room-add-modal">Add room</button>
    <button class="btn btn-success action-button" data-toggle="modal" data-target="#room-join-modal" (click)="getRooms()">Join room</button>
  </div>
  <app-chat [userDetails]="userDetails"></app-chat>
</div>

<app-room-modal></app-room-modal>
<app-join-room-modal [rooms]="rooms"></app-join-room-modal>