:host {
    .container {
        &.margin-vertical-2 {
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
    }

    .action-button:not(:first-of-type) {
        margin-left: 1vw;
    }
}
