.chat-wrapper {
    height: 50vh;
    max-height: 50vh;
    padding: 1vh 0;

    .room-wrapper {
        height: 10%;
        text-align: start;
        padding-right: 1vw;
    }

    .chat-container {
        height: 100%;

        .chat-scroll-container {
            overflow-y: overlay;
            max-height: 90%;
            height: 90%;
            padding-right: 1vw;
    
            .typing-container {
                p {
                    font-size: 1.5vh;
                }
            
                .hidden {
                    visibility: hidden;
                }
            }    
    
            .room-wrapper {
                position: absolute;
                left: 0;
                top: 0;
            }
        }        
    }
    
    .side-scroll-container {
    }

    .chat-controls {
        margin-bottom: 1vh;
    }
}

.vertical-divider {
    border-right: 1px solid #aaa;
    height: 100%;
}

.margin-left-1 {
    margin-left: 1vw;
}
