.chat-wrapper {
    height: 50vh;
    max-height: 50vh;
    padding: 1vh 0;

    .room-wrapper {
        height: 10%;
        text-align: start;
        padding-right: 1vw;
    }

    .chat-container {
        height: 100%;

        .chat-scroll-container {
            overflow-y: overlay;
            max-height: 90%;
            height: 90%;
            padding-right: 1vw;
    
            .typing-container {
                display: inline-block;
                width: 33%;
                p {
                    font-size: 1.5vh;
                }

                .hidden {
                    visibility: hidden;
                }
            }    

            .error-container {
                @extend .typing-container;
                color: red;
            }

            .pm-container {
                @extend .typing-container;
            }
    
            .room-wrapper {
                position: absolute;
                left: 0;
                top: 0;
            }
        }        
    }
    
    .side-scroll-container {
        overflow-y: overlay;
        max-height: 100%;
    }

    .chat-controls {
        margin-bottom: 1vh;

        .clear-pm {
            color: #fff;
            background-color: red;
            border: 1px solid red;
            border-radius: 5px;
            padding: 6px 12px;

            &:hover {
                background-color: darkred;
                cursor: pointer;
            }
        }
    }
}

.vertical-divider {
    border-right: 1px solid #aaa;
    height: 100%;
}

.margin-left-1 {
    margin-left: 1vw;
}
