.chat-wrapper {
    height: 50vh;
    max-height: 50vh;
    padding: 1vh 0;

    .scroll-container {
        overflow-y: overlay;
        max-height: 100%;
        
        .chat-container {
            margin-right: 1vw;

            .typing-container {
                p {
                    font-size: 1.5vh;
                }
            
                .hidden {
                    visibility: hidden;
                }
            }    
        }
    }    

    .chat-controls {
        margin-bottom: 1vh;
    }
}

.vertical-divider {
    border-right: 1px solid #aaa;
    height: 100%;
}

.margin-left-1 {
    margin-left: 1vw;
}
