.message-wrapper {
    display: flex;
    width: 100%;

    justify-content: flex-start;
    text-align: start;

    &.user-message {
        justify-content: flex-end;
        text-align: end;
    }

    .message {
        width: 70%;
    }
}