.message-wrapper {
    display: flex;
    width: 100%;

    margin: 1vh 0;

    &.user-message-wrapper {
        justify-content: flex-end;
    }

    .message {
        display: flex;
        padding: 5px;
        max-width: 70%;
        border: 2px solid red;
        border-radius: 2px 2px;

        &.user-message {
            border: 2px solid rgb(0, 168, 0);
            border-radius: 2px 2px;    
            justify-content: flex-end;
        }

        p {
            margin: 0;
            word-break: break-all;

            span {
                font-weight: 700;
            }
        }

        &.private {
            font-style: italic;
        }

        .user {
            cursor: pointer;
        }
    }
}