:host {
    .login-wrapper {
        height: 100vh;
        display: flex;
        align-items: center;

        .container {
            padding: 5vw;
        }

        .login-form {
            padding: 0 1vw;
        
            .error-hint {
                margin-left: 1vh;
                color: red;
            }

            input[type="text"] {
                margin-bottom: 1vh;
            }
        }
    }
}