<div class="login-wrapper">
  <div class="container paper elevate-1">
    <div class="row header">
      <div>
        <h1>Sign up</h1>
      </div>
      <div>
        <h4 (click)="login()">Login</h4>
      </div>  
    </div>
    <hr>
    <form class="login-form">
      <div class="form-group row">
        <label for="userName" class="col-sm-3 col-form-label">Username</label>
        <input type="text" id="userName" name="userName" placeholder="Enter username" class="form-control col-sm-9" [(ngModel)]="userName">
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password" class="form-control col-sm-9" [(ngModel)]="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="signup()">Sign up!</button>
      <span *ngIf="signupFailed" class="error-hint">User with the given name already exists.</span>
    </form>      
  </div>
</div>