.users-bar {
    width: 100%;

    h3 {
        margin-right: 1vw;
        text-align: start;
        text-transform: uppercase;
    }

    .users-wrapper {
        display: flex;
        margin-right: 1vw;
        ul {
            list-style: none;
            width: 100%;
            padding: 0;
    
            li {
                margin: 1vh 0;
                width: 100%;
    
                .user-divider {
                    margin: 5px 0;
                }
            }
        }
    }
}
